@import url('https://fonts.googleapis.com/css?family=Mali|Nanum+Gothic+Coding&display=swap');

h1, h4, h2 {
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 4px;
    text-align: center;
}
p, th, td, ul {
    font-family: 'Mali', cursive;
    padding: 5px;
}
.message{
    margin: 0px;
}
.author{
    text-align:  right;
}
.msg_section{
    display: inline-block;
}
.delete{
    text-align: right;
}