<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>New Event Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Notifications">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    <div class="errorMSG" id="error">
            {% with messages = get_flashed_messages() %}     
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>
    <div class="row">
        <div class="w-40">
            <form action="/addnew" method="POST" class=" ">
                <div class="form-group ">
                    <label for="Event"><p>Event Name:</p></label>
                    <input class="form-control" type="text" name="EventName" placeholder="What?">
                </div>
                <div class="form-group">
                    <label for="Location"><p>Location:</p></label>
                    <input class="form-control" type="text" name="Location" placeholder="Where?">
                </div>
                <div class="form-group">
                    <label for="Date"><p>Date:</p></label>
                    <input class="form-control" type="date" name="Date" placeholder="When?">
                </div>
                <div class="form-group">
                    <label for="Time"><p>Time:</p></label>
                    <input class="form-control" type="time" name="Time" placeholder="When?">
                </div>
                <div class="form-group">
                    <label for="Info"><p>Information:</p></label>
                    <input class="form-control" type="textarea" name="Info" placeholder="Why?" id="password">
                </div>
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-info" value="Create">
                </div>
            </form>
        </div>

        <div class="w-40 ml-5">
            <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th> Event Name</th>
                            <th>Location</th>
                            <th>Attendees</th>
                            <th>Date</th>
                            <th>Weather</th>
                            
                            <th>Attend Event?</th>
                        </tr>
                    </thead>
                    {% for event in all_events %}
                    
                    <tbody>
                        <tr>
                            <td>{{ event.event_title }}</td>
                            <td>{{ event.location }} </td>
                            <td>{{ event.events_that_have_attendees.count() }} </td>
                            <td>{{ event.date }} {{ event.time }} </td>
                    {% for weather in all_weather %}
                        <td>{{ weather.temperature }}{{ weather.description }} <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image"></td>
                    {%endfor%}
                    <td>{% if session['uid'] in event.events_that_have_attendees|map(attribute="id") %}  
                            <p><a href="/delete_attendee/{{event.id}}"> <button>Unattend</button> </a></p>
                        {% else %}
                            <p><a href="/new_attendee/{{event.id}}"> <button>Attend</button> </a></p>
                        {% endif %}</td>
                  
                    <form action="/event/{{ event.id  }}">
                        <td><input class="btn btn-info" type="submit" value="Event Details"></td>
                    </form>
            
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>