<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
            <h2>Hello {{ session['greetings'] }} </h2>
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Location</th>
                            <th>Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{ organize_event.event_title }} </td>
                        <td>{{ organize_event.location }} </td>
                        <td>{{ organize_event.date }} {{ organize_event.time }} </td>
                      
                    </tbody>

                </table>
        <form action="/create_msg" method="post" id="msg">
            <textarea class="form-control" name="msg" id="message" cols="30" rows="10"></textarea>
            <input type="hidden" name="e_id" value="{{ organize_event.id }}" >
            <input type="submit" class="btn btn-info" id="#">
        
        
        </form>





    </div>
</body>
</html>