<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <title>Hello </title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="event">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Edit Information</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ user.first_name }}  {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>*********</td>  
                {% if session['uid'] ==  user.id  %}
                    <form action="/edit_page">
                        <td><input class="btn btn-info" type="submit" value="Edit"></td>
                    </form>
                {% endif %}
            </tbody>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
            {% for user_event in user_events %}
                <tbody>
                    <td>{{ user_event.event_title }}</td>
                    <td>{{ user_event.location }}</td>
                    <td>{{ user_event.time }}</td>
                    <td>{{ user_event.date }}</td>
                </tbody>
            {% endfor %}   
            </thead>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>